/.idea
/01_06_solution.py
/02_02_Data_Structures.py
/02_04_ControlFlow.py
/02_05_Functions.py
/02_06_Classes_and_Instances.py
/02_08_solution.py
/03_03_booleans.py
/03_04_Strings.py
/03_05_bytes.py
/03_07_solution.py
/04_01_lists.py
/asgm1.py
/goodMorningAmerica.py
/hello.py
/pythongui_Test.py